@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

/* Common resets or global defaults if needed */
body {
  background-color: #09090b;
  color: #fafafa;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif !important;
}
